body{
	background-color: #ECF5FF;
	min-width: 1300px;
	font-family: 微软雅黑,Verdana,sans-serif;
}

.layui-container{
	background-color: #fff;
}
#sendTogroup,#sendTofriends{
	background-color: #5fb878!important;
	margin-left: 20px;
	margin-bottom: 40px;
}
#chat{
	width: 435px;
	height: 352px;
	margin-left:5px;
	margin-top: 4px;
	border-top:solid 1px #E0E0E0;
	border-left:solid 1px #E0E0E0;
	border-right:solid 1px #E0E0E0;
}
#chat_content{
	width: 415px;
	height: 289px;
	position:absolute;
	overflow-y:auto;
}

/*滚动条整体部分*/
#chat_content::-webkit-scrollbar{
    width:4px;
    height:4px;
    background-color: #fff;
}
/*滚动条里面的滚动条的轨道*/
#chat_content::-webkit-scrollbar-track{
    background: #fff;
    border-radius:2px;
}
/*滚动条里面的小方块*/
#chat_content::-webkit-scrollbar-thumb{
    background: #C3C3C3;
    border-radius:3px;
}
#chat_content::-webkit-scrollbar-thumb:hover{
    background: #C3C3C3;
}

#friends{
	width:205px;
	height: 230px;
	position:absolute;
	overflow-y:auto;
}

/*滚动条整体部分*/
#friends::-webkit-scrollbar{
    width:4px;
    height:4px;
    background-color: #C3C3C3;
}

/*滚动条里面的滚动条的轨道*/
#friends::-webkit-scrollbar-track{
    background: #fff;
    border-radius:2px;
}
/*滚动条里面的小方块*/
#friends::-webkit-scrollbar-thumb{
    background: #C3C3C3;
    border-radius:3px;
}
#friends::-webkit-scrollbar-thumb:hover{
    background: #C3C3C3;
}


#sendMessage{
	width: 435px;
	height: 120px;
	margin-left:5px; 
	margin-top: -10px;
	border:solid 1px #E0E0E0;
}
#group_file,#group_voice,#group_video,#friends_file,#friends_voice,#friends_video{
	font-size: 25px; color: #FFB800;cursor: pointer;
}
#group_textarea,#friends_textarea{
	display: inline-block;
	margin-left: 10px; 
	margin-top:10px;
	width: 340px;
	height: 70px;
	overflow: hidden;
	border-color:#E0E0E0 ;
}
.agree{
	background-color: #5fb878!important;
	margin-left: 17px;
}
.refuse,.del_friends,.del_record{
	background-color:#f14d4c!important;
}

/*动态创建的p和span标签加样式*/
#myp{
	word-wrap:break-word;
	background-color:#f2f2f2;
	max-width:120px;
    margin-top:8px;
	padding:5px;
	overflow-y:auto;
	border-radius:3px;
}
#myspan{
	max-width:45px;
	display:block;
	text-align: center;
	margin:8px auto;
	padding:5px;
	border-radius:3px;
	font-size:10px;
}
#filebox{
	border:solid 1px #E0E0E0; 
	padding: 5px;
	width: 160px;
	cursor: pointer;
}